/* This section is needed to add the material icons*/
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

/* End import */

.grid-background {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #e0e0e0 1px, transparent 1px),
    linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
  background-size: 50px 50px;
  /* La dimensione iniziale dei quadretti */
  background-color: #ffffff;
  background-position: 0 0;
  /* Posizione iniziale dello sfondo */
  will-change: transform;
  /* Ottimizzazione per animazioni */
}

div.vis-network div.vis-navigation div.vis-button.vis-up,
div.vis-network div.vis-navigation div.vis-button.vis-down,
div.vis-network div.vis-navigation div.vis-button.vis-left,
div.vis-network div.vis-navigation div.vis-button.vis-right,
div.vis-network div.vis-navigation div.vis-button.vis-zoomIn,
div.vis-network div.vis-navigation div.vis-button.vis-zoomOut,
div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
  background-image: none !important;
}

div.vis-network div.vis-navigation div.vis-button:hover {
  box-shadow: none !important;
}

.vis-button:after {
  background-color: #000000 !important;
  /* Material UI primary color */
  color: white !important;
  border-radius: 100% !important;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
  font-size: 2em;
}

.vis-button.vis-right:after {
  font-family: 'Material Icons', sans-serif !important;
  content: '\e5c8';
  color: white !important;
}

.vis-button.vis-left:after {
  font-family: 'Material Icons' !important;
  content: '\e5c4';
  color: white !important;
}

.vis-button.vis-down {
  display: none !important;
}

.vis-button.vis-up {
  display: none !important;
}

.vis-button:hover:after {
  font-size: 2em;
  color: lightgray;
}

.vis-button.vis-zoomIn:after {
  font-family: 'Material Icons' !important;
  content: '\e8ff';
  color: white !important;
}

.vis-button.vis-zoomOut:after {
  content: '−';
  font-family: 'Material Icons' !important;
  content: '\e900';
  color: white !important;
}

.vis-button.vis-zoomExtends:after {
  font-family: 'Material Icons' !important;
  content: '\e56b';
  color: white !important;
}