.floating-button {
  position: absolute;
  transform: translateY(-50%);
  z-index: 1000;
  transition:
    transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.3s ease;
  color: white;
}

.floating-button:hover {
  transform: scale(1.15);
  opacity: 0.9;
  transition:
    transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.4s ease;
}

.floating-button-right {
  right: 1rem;
}

.floating-button-left {
  left: 1rem;
}

@media screen and (min-width: 1280px) {
  .mr-button {
    margin-right: 40%;
    transition: 350ms;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .mr-button {
    margin-right: 66.666667%;
    transition: 350ms;
  }
}

@media screen and (max-width: 1023px) {
  .mr-button {
    margin-right: 100%;
    transition: 350ms;
  }
}