.header-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; /* Spazio tra le sezioni */
}

.header-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; /* Spazio tra il titolo e il contenuto */
}

.icon {
  width: 16px; /* Dimensione dell'icona nel titolo */
  height: 16px; /* Dimensione dell'icona nel titolo */
  margin-right: 8px; /* Spazio tra l'icona e il testo */
}

.header-text {
  font-size: 24px; /* Dimensione del testo */
}

.error {
  border: 1px solid red; /* Bordo rosso in caso di errore */
  padding: 0.5rem; /* Spazio interno per il bordo */
  border-radius: 4px; /* Angoli arrotondati */
}

.header-section.highlight {
  background-color: yellow;
}

.header-section.error {
  border: 2px solid red;
}

.scroll-margin-top {
  scroll-margin-top: 150px; /* Aggiungi un margine superiore di 150px */
}

.light-divider {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 20px 0;
}
